.class-list {
    margin-top: 36px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .class-card {
    width: 250px;
    margin: 0 10px 32px;
    cursor: pointer;
  }
  
  .class-card p {
    margin: 0 0 4px;
    text-align: left;
    color: #595959;
  }
  
  .class-mini-image {
    width: 100%;
    border: 1px solid lightgray;
  }
  