.signUp {
	color: #282c34;
	font-weight: bold;
	width: 100rem;
	height: 570px;
	flex-basis: unset!important;
	font-size: 1rem;
}

.formLabel {
	display: flex;
	justify-items: flex-start;
}

.mark, mark {
	background-color: unset!important;
	color: red;
}

.loginSubmit {
  width: 100%;
  margin-top: 1rem;
}

.spinner-border {
	margin-top: 18px;
}

.alert {
	font-size: 1rem;
}