.search-bar-wrapper {
    border-bottom: 1px solid #3333;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    margin-top: 0.3%;
  }
  .search-form {
    font-size: 14px;
  }
  .search-form input {
    text-align: center;
    min-width: 20rem;
  }

