.toast {
	color: #282c34;
	font-weight: bold;
	width: 100rem;
	height: 283px;
	flex-basis: unset!important;
	font-size: 1rem;
}

.formLabel {
	display: flex;
	justify-items: flex-start;
}

.loginSubmit {
  width: 100%;
  margin-top: 1rem;
}

.spinner-border {
	margin-top: 18px;
}

.alert {
	font-size: 1rem;
}