.App {
  font-family: sans-serif;
  text-align: center;
  height: 100%;
  width: 100%;
}

.app-header {
  color: #1c5d76;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  border-bottom: 1px solid #efefef;
  margin-bottom: 32px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
}

.nav-links a {
  text-decoration: none;
  color: #262626;
  font-weight: bold;
  margin-right: 8px;
  align-items: center;
}

